/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;

  background:
    /* grano fino */
    black
}


.cantora-one-regular {
  font-family: "Cantora One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-sketch-regular {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}